In [3]:
a=(1,2,3,4)

In [4]:
a[0]

1

In [6]:
a[0]=1

TypeError: 'tuple' object does not support item assignment

In [7]:
def func(*args):
    print(args)
func(1,2,3,4)

(1, 2, 3, 4)

In [8]:
a=1,2

In [9]:
type(a)

tuple

In [11]:
c,d=a
print(c)
print(d)

1
2

In [12]:
a=(1,2,3)

In [13]:
c,d=a

ValueError: too many values to unpack (expected 2)

In [14]:
a=5
b=4

In [15]:
#easily swapping
a,b=b,a

In [16]:
a

4

In [17]:
b

5

#### List to tuple and Tuple to list

In [18]:
a=(1,2,3)
a=list(a)

In [19]:
a

[1, 2, 3]

In [21]:
a=list(range(5))
print(a)

[0, 1, 2, 3, 4]

In [22]:
a=list("Yash")
print(a)

['Y', 'a', 's', 'h']

In [23]:
a=tuple(a)

In [24]:
a

('Y', 'a', 's', 'h')

Return Multiple values from the Tuple

In [27]:
def addsub(a,b):
    return (a+b,a-b) 
    #   we can remove the braces

In [28]:
x=addsub(3,2)
type(x)

tuple

In [29]:
sum,diff=addsub(5,4)

In [30]:
print(sum)
print(diff)

9
1