##### Inheritance

In [11]:
class school:
   '''Represnt any school'''
   def __init__(self,name,age) -> None:
     self.name=name
     self.age=age
     print("Initialized School Member : {}".format(self.name))
    
   def tell(self):
      '''Tell Details'''
      print("Name: {} Age:{} ".format(self.name,self.age))
    

class Teacher(school):
    'Represent Teacher'
    def __init__(self, name, age,salary):
       super().__init__(name, age)
       self.salary=salary
       print("Initialized the Teacher {}".format(self.name))
    def tell(self):
        school.tell(self)
        print('Salary : "{:d}"'.format(self.salary))


class student(school):
    'Represent a student'
    def __init__(self, name, age,marks) :
       super().__init__(name, age)
       self.marks=marks
       print("Initialized students {}".format(self.name))

    def tell(self):
        school.tell(self)
        print('Marks "{:d}"'.format(self.marks))

In [12]:
t=Teacher('Abhay Sir',35,40000)
s=student('Yash',20,100)

Initialized School Member : Abhay Sir
Initialized the Teacher Abhay Sir
Initialized School Member : Yash
Initialized students Yash

In [13]:
t.tell()

Name: Abhay Sir Age:35
Salary : "40000"

#### MRO
-Method of Resolution Order

In [17]:
class A:
    x=10
class B(A):
    pass
class C(A):
    x=5
class D(C):
    pass
class E(B,D):
    pass

In [18]:
E.x

5

In [16]:
E.__mro__

(__main__.E, __main__.B, __main__.D, __main__.C, __main__.A, object)